</div>
<div class="foot_main_div">
    <hr style=" height:2px;border:none;border-top:2px dotted #185598;" />
    <div class="foot_words_div">
        <p>
            <a href="<%=path%>/about_webStack">关于本站</a>
            <a href="<%=path%>/about_Author">关于作者</a></p>
        <br/>
        友情链接:
            <a href="#">关于1</a>
            <a href="#">关于2</a>
            <a href="#">关于3</a>
            <a href="#">关于4</a>
    </div>
</div>
</body>
</html>