<%- include('./public/head.ejs') %>
<div class="about_webStack_main_div">
    <div class="panel panel-info data_panel about_webStack_title">
        <div class="panel-heading"><h3>焦点拍客<small>&nbsp;&nbsp;—— 行摄天下</small></h3></div>
    </div>
    <div class="about_webStack_img_div">
        <img src="<%=path%>/img/about_Stack_img.jpg" class="about_webStack_img" title="站点图片"/>
        <span><br/>新的世界常常首先出现在旅行者的视野里.<br/>
            他们抱着单程旅行的勇气出发.<br/>
            只为了发现了一个新天地.<br/>
            经过的地方会看到罹难者的墓碑.<br/>
            但那又怎样呢.<br/>
            在家终老难道就是幸福吗？</span>
    </div>
        <div class="about_author_panel">
            <div class="panel panel-default">
                <div class="panel-heading">站点介绍</div>
                <div class="panel-body about_author_panel_body">
                    >1.新的世界常常首先出现在旅行者的视野里.<br/>
                    >2.他们抱着单程旅行的勇气出发.<br/>
                    >3.只为了发现了一个新天地.<br/>
                    >4.经过的地方会看到罹难者的墓碑.<br/>
                    >5.但那又怎样呢.<br/>
                    >6.在家终老难道就是幸福吗？<br/>
                </div>
            </div>

        </div>
</div>
<%- include('./public/foot.ejs') %>
<%- include('./public/toTop.ejs') %>